/* DEBUG */
#debug { background: #563D7C; color: #FFFFFF; font-size: 18px; text-align: center; padding: 5px; width: 150px; position: fixed; z-index: 999999; top: 0; right: 0; }
#debug span { display: none; }
@media (max-width: 767px) { #debug .mobile { display: block; } }
@media (min-width: 768px) and (max-width: 991px) { #debug .tablets { display: block; } }
@media (min-width: 992px) and (max-width: 1199px) { #debug .desktops { display: block; } }
@media (min-width: 1200px) { #debug .large-desktops { display: block; } }
/* DEBUG */
body
{
    /*background: #525252;*/
}

a
{
    text-decoration: none;
    outline: none;
}

a:hover
{
    text-decoration: none;
}

#wrapper
{
    
}

.navbar-nav li a
{
    /*padding-right: 12px !important;
    padding-left: 12px !important;*/
    padding-right: 8px !important;
    padding-left: 8px !important;
    color: #F0F0F0 !important;
}

.navbar-nav li a:hover
{
    color: #FFFFFF !important;
}

.norelative
{
    position: static !important;
}

.dropdown-menu
{
    width: 100%;
}


.bor
{
    border: solid 1px red;
}

.top-block
{
    width: 100%;
    max-width: 100%;
    background-color: #fff;
}

.nav-seperator
{
    display: none;
}

.top-block-left
{
    height: 134px;
    padding: 0;
}

.top-block-logo
{
    height: 83px;
}

.top-block-nav
{
    height: 52px;
}

.top-block-nav nav
{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.top-block-right
{
    height: 134px;
    padding-left: 0;
    padding-right: 0;
}

.top-block-freedemo
{
    height: 83px;
    /*background: #13a0dd url('../images/img-1.png') repeat-y;*/
    background-color:  #12708e;
    background-position: center right;
}

a.main-logo
{
    padding-left: 20px;
    height: 100px;
}

a.main-logo img
{
    height: 100%;
}

.navbar-inverse
{
    background-color: #1a1a18;
    border-color: #1a1a18;
}

.top-block-login
{
    position: relative;
    /*background: #c7c9cb url('../images/img-2.png') repeat-y;
    background-position: center right;*/
    background: #12aed9;
    z-index: 999;
}

.cust-login-container
{
    display: none;
    /*height: 145px;*/
    width: 100%;
    z-index: 100;
    /*position: absolute;
    top: 52px;
    left: 0;*/
    border: solid 1px #12aed9;
    border-top: solid 1px #fff;
    padding-bottom: 10px;
}

.logged-in-container {
    padding-left: 30px;
}

.logged-in-container a {
    display: block;
    line-height: 30px;
    color: #fff;
}

.guest-in-container a 
{
    color: #fff;
}

.suport-side-tab {
    width: 50px;
    height: 125px;
    position: absolute;
    top: 465px;
    right: 0px;
    z-index: 900;
}

.suport-side-tab a {
    display: block;
    width: 50px;
    height: 125px;
    background: url('../images/support-side-tab.png') no-repeat;
}

.content-block
{
    
}

.main-slider
{
    padding-left: 0;
    padding-right: 0;
    
    /*height: 300px;
    overflow: hidden;*/
}

.main-banner
{
    padding-left: 0;
    padding-right: 0;
}

.slider-container
{
    width: 100%;
    max-width: 100%;
}

.banner-container
{
    width: 100%;
    max-width: 100%;
}

.content-container
{
    width: 100%;
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    /*background: #fff url('../images/bx-shadow.png') repeat-x;*/
    background: #fff;
    background-position: center -200px;
    
}

.main-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-content .c-header {
    color: #605D5C;
    margin-bottom: 40px;
}

.main-content .c-sub-header {
    color: #716F6E;
    font-size: 22px;
}

.main-content .c-para {
    color: #24211D;
    line-height: 34px;
    font-size: 18px;
    margin-bottom: 20px;
}

.main-content .blue-highlight {
    color: #0089E1;
    font-size: 18px;
    margin-bottom: 20px;
}

.c-img {
    float: right;
}

.address-wrapper .container {
    background: url('../images/addr-sep.png') center repeat-y;
}

.address-content {
    
}

.address-content h1 {
    color: #605D5C;
    font-size: 36px;
    margin: 0;
    margin-bottom: 4px;
    padding: 0;
}

.address-content h2 {
    color: #605D5C;
    font-size: 30px;
    margin: 8px 0 8px 0;
    padding: 0;
}

.address-content h3 {
    color: #716F6E;
    font-size: 24px;
    margin: 8px 0 8px 0;
    padding: 0;
}

.address-content address {
    color: #716F6E;
    line-height: 25px;
}

.address-content address a {
    color: #716F6E;
}

.address-seperator {
    
}

.profile-box {
    margin-top: 38px;
}

.profile-box .pr-img {
    margin-top: 6px;
}

.profile-box h1 {
    margin: 0;
    padding: 0;
    color: #605D5C;
    line-height: 34px;
    font-size: 28px;
}

.profile-box h2 {
    margin: 0;
    padding: 0;
    color: #828180;
    line-height: 34px;
    font-size: 22px;
}

.profile-box p {
    color: #828180;
    line-height: 34px;
    font-size: 18px;
}

/***/
.think-box {
    margin-top: 35px;
    margin-bottom: 35px;
}

.think-box .pr-img {
    margin-top: 6px;
}

.think-box h1 {
    margin: 0;
    padding: 0;
    color: #605D5C;
    line-height: 34px;
    font-size: 28px;
}

.think-box h2 {
    margin: 0;
    padding: 0;
    color: #828180;
    line-height: 34px;
    font-size: 22px;
    margin-bottom: 8px;
}

.think-box p {
    color: #828180;
    line-height: 30px;
    font-size: 18px;
}

/***/
.success-box {
    margin-top: 38px;
}

.success-box .pr-img {
    margin-top: 6px;
}

.success-box h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 34px;
    font-size: 28px;
}

.success-box h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 34px;
    font-size: 18px;
}

.success-box p {
    color: #fff;
    line-height: 34px;
    font-size: 18px;
}

.milestone-box {
    color: #FFFFFF;
    padding-left: 18px;
    width: 100%;
}

.milestone-nav .disabled {
    display: none !important;
}

.milestone-box .item {
    /*background: url('../images/blue-dot.png') 15px top no-repeat;*/
    background: url('../images/blue-line.png') 15px top repeat-x;
    padding-top: 35px;
    position: relative;
    float: left;
    width: 228px;
}

.milestone-box .lastitem {
    background: url('../images/blue-dot.png') right top no-repeat;
}

.milestone-box .dot {
    position: absolute;
    top: 0;
    left: -2px;
    height: 25px;
    width: 25px;
    display: block;
    background: url('../images/blue-dot.png') no-repeat;
}

.milestone-box .dot-y {
    position: absolute;
    top: 0;
    right: -23px;
    height: 25px;
    width: 25px;
    display: block;
    background: url('../images/blue-dot.png') no-repeat;
}

.milestone-box .title {
    font-size: 20px;
    margin-bottom: 4px;
}

.milestone-box .desc {
    padding-right: 15px;
    font-size: 16px;
}

#milestone-prev {
    display: block;
    height: 40px;
    width: 40px;
    background: url('../images/prev-small.png') no-repeat;
    margin-left: 0;
    margin-right: auto;
}

#milestone-next {
    display: block;
    height: 40px;
    width: 40px;
    background: url('../images/next-small.png') no-repeat;
    margin-left: auto;
    margin-right: 0;
}

/* Live Inpex */
.live-impex-box {
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: solid 1px #0089E1;
}

.live-impex-box .pr-img {
    
}

.live-impex-box h1 {
    margin: 0;
    padding: 0;
    color: #605D5C;
    line-height: 34px;
    font-size: 28px;
}

.live-impex-box h2 {
    margin: 0;
    padding: 0;
    color: #828180;
    line-height: 34px;
    font-size: 18px;
}

.live-impex-box p {
    color: #828180;
    line-height: 34px;
    font-size: 16px;
}

/* Live Inpex Ends */
/* News Events */
.news-events-box {
    margin-top: 10px;
}

.news-events-box h1 {
    margin: 0 0 8px 0;
    color: #24211D;
    font-size: 22px;
}

.news-events-box p {
    color: #605D5C;
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 20px;
}

.date-box-1 {
    width: 95px;
    margin-bottom: 20px;
}

.date-box-1 .dd {
    text-align: center;
    background: #0093DD;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    color: #FFFFFF;
    font-size: 48px;
    line-height: 85px;
}

.date-box-1 .mm-yyyy {
    text-align: center;
    background: #DDDDDC;
    color: #24211D;
    font-size: 12px;
    padding: 4px;
}

/* News Events Ends */

/* News Events */
.media-clip-box {
    margin-top: 10px;
}

.media-clip-box h1 {
    margin: 0 0 8px 0;
    color: #3B3734;
    font-size: 22px;
}

.media-clip-box p {
    color: #FFFFFF;
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 20px;
}

.date-box-2 {
    width: 95px;
    margin-bottom: 20px;
}

.date-box-2 .dd {
    text-align: center;
    background: #FFFFFF;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    color: #0089E1;
    font-size: 48px;
    line-height: 75px;
}

.date-box-2 .mm-yyyy {
    text-align: center;
    background: #DDDDDC;
    color: #24211D;
    font-size: 12px;
    padding: 4px;
}

/* News Events Ends */

.date-box-3 {
    width: 90px;
    margin-bottom: 20px;
    float: left;
}

.date-box-3-news {
    float: left;
}

.date-box-3 .dd {
    text-align: center;
    background: #FFFFFF;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    color: #0089E1;
    font-size: 48px;
    line-height: 75px;
}

.date-box-3 .mm-yyyy {
    text-align: center;
    background: #DDDDDC;
    color: #24211D;
    font-size: 12px;
    padding: 1px;
}

/* Small Trade Talk */

.trade-small-box {

}

.trade-small-box .c-header {
    color: #FFFFFF;
    margin-bottom: 15px;
    margin-top: 40px;
}

.trade-small-box .c-para {
    color: #FFFFFF;
    line-height: 34px;
    font-size: 18px;
    margin-bottom: 20px;
}

.trade-small-box .trade-item {
    text-align: center;
    margin-top: 60px;
}

.trade-small-box .trade-read {
    margin-top: 20px;
}

.trade-small-box .c-img {
    float: none;
}

/* Small Trade Talk Ends */

/* Trade Talk */
.new-odd {
    background: #dedede;
}

.new-even {
    background: #c2c1c1;
}

.year-row {
    margin-top: 90px;
    margin-bottom: 90px;
}

.month-box-year {
    text-align: left;
    padding-left: 0;
}

.month-box-year h1 {
    color: #1f1a17;
}

.month-box-item {
    
}

.month-box-wrap {

}

.month-box-1 {
    width: 70px;
}

.month-box-1 .mm {
    text-align: center;
    background: #0093dd;
    -webkit-border-radius: 8px 8px 0px 0px;
    -moz-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 60px;
}

.month-box-1 .yyyy {
    text-align: center;
    background: #969594;
    color: #FFFFFF;
    font-size: 12px;
    padding: 4px;
}
/* Trade Talk Ends */

.sub-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sub-content h3 {
    margin: 3px 0 3px 0;
    padding: 0;
    color: #FFFFFF;
    font-size: 20px;
}

.sub-content h3 a {
    color: #FFFFFF;
    font-size: 20px;
}

.sub-content .c-header {
    color: #605D5C;
    margin-bottom: 20px;
}

.sub-content .c-sub-header {
    color: #716F6E;
    font-size: 22px;
}

.sub-content .c-para {
    color: #716F6E;
    line-height: 34px;
    font-size: 18px;
    margin-bottom: 20px;
}

.sub-content .c-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.sub-content .c-list li {
    color: #716F6E;
    line-height: 34px;
    font-size: 16px;
}

.sub-content .c-list a {
    color: #716F6E;
    line-height: 34px;
    font-size: 16px;
}

.case-small-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.case-small-list li {
    color: #716F6E;
    line-height: 34px;
    font-size: 16px;
}

.case-small-list li a {
    color: #1f1a17;
}

.trade-small-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.trade-small-list li {
    color: #716F6E;
    line-height: 42px;
    font-size: 16px;
}

.trade-small-list li a {
    color: #716F6E;
}

.exp-sml-wrapper {

}

.exp-sml-item {
    margin-bottom: 20px;
}

.exp-sml-item h1 {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 30px;
    margin: 0 0 0 0;
}

.exp-sml-item h2 {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 30px;
    margin: 0 0 0 0;
}

.resource-read-more {
    font-size: 18px;
    color: #1f1a17;
}

.resource-read-more a {
    color: #1f1a17;
}

.sub-content .text-highlight {
    color: #0093dd;
}

.prod-sublink {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.prod-sublink a {
    color: #FFFFFF;
    text-decoration: underline;
}

.blank-seperator {
    background: #FFFFFF;
    height: 15px;
}

.blank-seperator-1 {
    background: #FFFFFF;
    height: 32px;
}

.blank-seperator-2 {
    height: 15px;
}

.background-gray
{
    background: #DEDEDC;
}

.background-lightgray
{
    background: #949393;
}

.background-darkgray
{
    background: #605D5C;
}

.background-gray1
{
    background: #949393;
}

.background-blue1
{
    background: #0089E1;
}

.background-blue2
{
    background: #007094;
}

.background-demo
{
    
}

.solution-provider
{
    height: 300px;
}
.news-headlines
{
	height: 100px;
}
.knowMoreText
{
	padding-top: 50px;
	padding-left:250px;
}
.client-row
{
	height: 100px;
}
.web-social-services
{
	height: 100px;
	
}
.footer-bar
{
	height: 50px;
	
}

.top-block-freedemo .freedemo
{
    display: block;
    height: 100%;
}

.freedemo div
{
    padding: 9px;
    /*background: url('../images/arrow-right.png') no-repeat 220px center;*/
    background: url('../images/arrow-right-big.png') no-repeat right center;
}

.freedemo .bolder
{
    padding-left: 10px;
    font-size: 27px;
    color: #fff;
    display: block;

    /*font-family: 'Segoe UI Light', 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Tahoma, Garuda, Arial, sans-serif;*/
}

.freedemo .normal
{
    padding-left: 10px;
    font-size: 18px;
    color: #fff;
    display: block;
}

.top-block-login .cust-login
{
    height: 52px;
    display: block;
}

.cust-login div
{
    padding: 14px 20px 14px 20px;
    /*background: url('../images/arrow-down.png') no-repeat 225px center;*/
    background: url('../images/arrow-down-big.png') no-repeat right center;
}

.cust-login div.selected
{
    /*background: url('../images/arrow-up.png') no-repeat 225px center;*/
    background: url('../images/arrow-up-big.png') no-repeat right center;
}

.cust-login .normal
{
    padding-left: 10px;
    font-size: 18px;
    color: #ffffff;
    display: block;
}

.cust-login .logged-in-normal
{
    padding-left: 10px;
    font-size: 15px;
    color: #fff;
    display: block;
}

.cust-login-input
{
    margin: 5px 5px 10px 5px;
}

.cust-login-btn
{
    margin: 5px 5px 10px 20px;
    background-color: #1f1a17;
    color: #afafaf;
}

.cust-login-btn:hover
{
    background-color: #616161;
}

.submenu
{
    display: none;
    height: auto;
    z-index: 100;
    /*background: #838381 url('../images/img-3.png') repeat-x;*/
    background: #FFF;
    /*margin-top: 134px;*/
    top: 1px;
    left: 0;
    position: absolute;
    
    background-color: #ddd;
    background: -webkit-linear-gradient(#dddddd, #f1f1f1);
    background: -moz-linear-gradient(#dddddd, #f1f1f1);
    background: -o-linear-gradient(#dddddd, #f1f1f1);
    _background: none;
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#d1d1d1',EndColorStr='#f1f1f1');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(StartColorStr='#d1d1d1',EndColorStr='#f1f1f1')";
    border-top: 0;
    border-bottom-color: #fff;
    box-shadow: 0 -9px 7px -9px #bbb inset;
}

.submenu-item
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.submenu-item a
{
    color: #555;
    font-size: 14px;
    /*font-family: Segoe UI;*/
    padding-left: 14px;
    background: url('../images/bullet.png') no-repeat center left;
}

.submenu-item a:hover
{
    color: #222;
    text-decoration: underline;
    background: url('../images/bullet-active.png') no-repeat center left;
}

/*  MENU START  */
.submenu-wrapper {
    
}

.submenu-wrapper .header {
    font-size: 16px;
}

.submenu-wrapper .header a {
    color: #0da3cd;
}

.submenu-wrapper .header a:hover {
    text-decoration: underline;
}

.submenu-wrapper .item-wrapper {
    
}

.submenu-wrapper .item-element {
    float: left;
    width: 200px;
    height: 27px;
}

.submenu-wrapper .item-element span a {
     color: #000;
}

.submenu-wrapper .item-element span a:hover {
     
}
/*  MENU END  */

.carousel-img-item {
    height: 300px;
    cursor: pointer;
}

.main-banner img {
    height: 300px;
}

.content-block-1
{
    width: 100%;
    max-width: 100%;
    /*background: #fff url('../images/bx-shadow.png') repeat-x;*/
    background: #fff;
}

.content-block-2
{
    width: 100%;
    max-width: 100%;
    background: #fff;
}

.content-block-3
{
    width: 100%;
    max-width: 100%;
    background: #969594;
}

.content-block-4
{
    width: 100%;
    max-width: 100%;
    background: #12708e;
}

.content-block-5
{
    width: 100%;
    max-width: 100%;
    background: #1ab7f1;
}

.content-block-6
{
    /*width: 100%;
    max-width: 100%;*/
    background: #454545;
}

.content-block-7
{
    width: 100%;
    max-width: 100%;
    background: #fff;
}

.content-container-bottom
{
    width: 100%;
    max-width: 100%;
    background: #eeeeee;
}

.content-block-left-bottom
{
    display: table;
    height: 180px;
    padding-left: 80px;
}

.content-block-left-bottom .left-header {
    margin: 20px 0 20px 50px;
    padding: 0;
    font-size: 26px;
    color: #333;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content-block-right-bottom .left-item-list {
    margin: 10px 0 0 50px;
    padding: 0;
    list-style-type: none;
}

.content-block-right-bottom .left-item-list li {
    float: left;
}

.content-block-right-bottom .left-item-list a {
    display: table;
    height: auto;
    border: solid 0 #838381;
    width: 150px;
    height: 90px;
    padding: 5px;
    text-align: center;
    margin-right: 25px;
    margin-bottom: 10px;
    /*background: url('../images/bx-3.png') no-repeat;*/
    background: #3b3b39;
    color: #fff;
    
    /*-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;*/
}

.content-block-right-bottom .left-item-list a.active {
    /*background: url('../images/bx-4.png') no-repeat;*/
    background: #0da3cd;
}

.content-block-right-bottom .left-item-list span {
    display: table-cell;
    vertical-align: middle;
    line-height: 75px;
    line-height: normal;
}

.req-demo-wrapper {
    background: #fff url('/images/request-demo-md.png');
}

.req-demo-left {
    /*padding: 45px 5px 45px 5px;*/
    padding-top: 45px;
    padding-bottom: 45px;
}

.req-demo-left .left-header {
    color: #FFFFFF;
    font-weight: 400;
}

.c-btn-1 {
    padding-left: 25px;
    padding-right: 25px;
}

/************** TRADE SYS **************/
.trade-wrapper {

}

.trade-left {

}

.trade-left .left-header {
    text-align: center;
    color: #605D5C;
}

.trade-left .c-img {
    float: none;
}
/***************************************/

/************** LOGi SYS ***************/
.logi-any-wrapper {
    background: #0093dd;
}

.logi-any-left {
    padding-top: 0px;
}

.logi-any-left .left-header {
    color: #FFF;
    margin-bottom: 20px;
}

.logi-any-left .left-para {
    color: #FFF;
    font-size: 18px;
    margin-bottom: 30px;
}

.logi-any-right {
    /*padding: 45px 5px 45px 5px;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.logi-any-right .c-img {
    float: none;
}

.stacked-features {
    margin-top: 30px;
    margin-bottom: 30px;
}

.stacked-wrapper {
     background: url('../images/stack-sep.png') center repeat-y;
     padding-bottom: 20px;
}

.stacked-l-item {
    padding-left: 20px;
}

.stacked-wrapper h1 {
    margin: 0;
    font-size: 28px;
    margin-top: 18px;
    margin-bottom: 5px;
}

.stacked-wrapper ul {
    list-style-image: url('../images/icon-ok.png');
}

.stacked-wrapper li {
    font-size: 18px;
}

.stacked-r-item {
    padding-left: 20px;
}

.stacked-l-item .c-img {
    float: none;
}

.stacked-r-item .c-img {
    float: none;
}

.stacked-l-img {

}

.stacked-r-img {

}

.first-stack {
    /*background: none;*/
}

.last-stack {
    background: none;
}

.first-stack-sep {
    padding-top: 30px;
    background: #FFF;
}

.last-stack-sep {
    padding-top: 30px;
    background: url('../images/stack-sep.png') center repeat-y;
    margin-left: -1px;
}


.stacked-blank {
    background: #fff;
    height: 40px;
    display: block;
}

.stacked-dot {
    background: url('../images/blue-big-dot.png') center no-repeat;
    width: 45px;
    height: 45px;
    display: block;
    text-align: center;
    line-height: 45px;
    color: #FFF;
    font-size: 20px;
    margin: 0 auto;
}

.blue-ver-line {
    /*background: url('../images/stack-sep.png') 20px top repeat-y;*/
}
/***************************************/

/************************************/

.prod-upd-wrapper {
    background: #969594;
}

.prod-upd-left {
    padding-top: 90px;
}

.prod-upd-left .left-header {
    color: #FFF;
    margin-bottom: 20px;
}

.prod-upd-left .left-para {
    color: #FFF;
    font-size: 18px;
    margin-bottom: 30px;
}

.prod-upd-right {
    /*padding: 45px 5px 45px 5px;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.prod-upd-right .right-header {
    color: #FFF;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 30px;
    text-align: right;
}

/***********************************/
.news-sub-wrapper {
    background: #12708e;
}

.news-sub-left {
    padding-top: 74px;
}

.news-sub-left .left-header {
    color: #FFF;
    margin-bottom: 20px;
}

.news-sub-left .left-para {
    color: #FFF;
    font-size: 18px;
    margin-bottom: 30px;
}

.news-sub-right {
    /*padding: 45px 5px 45px 5px;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.news-sub-right .right-header {
    color: #FFF;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 30px;
}

.c-btn-2 {
    background-color: #12AED9;
    border-color: #0eadd9;
    padding-left: 25px;
    padding-right: 25px;
}

.c-btn-2:hover {
    background-color: #05abd9;
    border-color: #0eadd9;
}

/************************************/

.exp-wrapper {
    margin-top: 15px;
}

.exp-item {
    margin-bottom: 20px;
}

.exp-item h1 {
    font-size: 16px;
    color: #716F6E;
    line-height: 30px;
    margin: 0 0 0 0;
}

.exp-item h2 {
    font-size: 16px;
    color: #716F6E;
    line-height: 30px;
    margin: 0 0 0 0;
}

/************************************/
.solution-main-header .left-header {
    margin: 25px 0 10px 50px;
    padding: 0;
    font-size: 36px;
    color: #1f1a17;
    /*font-family: 'Segoe UI Light', 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Tahoma, Garuda, Arial, sans-serif;*/
}

.right-prod-header {
    font-size: 30px;
    display: none;
}

.content-block-sol-left-bottom {
    display: table;
    height: 180px;
    padding-left: 80px;
}

.content-block-sol-left-bottom .left-header {
    margin: 20px 0 20px 50px;
    padding: 0;
    font-size: 26px;
    color: #333;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content-block-sol-right-bottom .left-item-list {
    margin: 10px 0 0 50px;
    padding: 0;
    list-style-type: none;
}

.content-block-sol-right-bottom .left-item-list li {
    float: left;
}

.content-block-sol-right-bottom .left-item-list a {
    display: table;
    height: auto;
    border: solid 0 #838381;
    width: 120px;
    height: 75px;
    padding: 5px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 10px;
    /*background: url('../images/bx-1.png') no-repeat;*/
    background: #3b3b39;
    color: #fff;
    
    /*/-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;*/
}

.content-block-sol-right-bottom .left-item-list a.active {
    /*background: url('../images/bx-2.png') no-repeat;*/
    background: #0da3cd;
}

.content-block-sol-right-bottom .left-item-list span {
    display: table-cell;
    vertical-align: middle;
    line-height: 75px;
    line-height: normal;
}

/********************************/

.content-block-sol-left {
    
}

.content-block-sol-left .left-header {
    margin: 20px 0 20px 50px;
    padding: 0;
    font-size: 28px;
    color: #0093dd;
    /*font-family: 'Segoe UI Light', 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Tahoma, Garuda, Arial, sans-serif;*/
}

.content-block-sol-left .left-footer {
    margin: 10px 0 10px 50px;
    padding: 0;
    font-size: 24px;
}

.content-block-sol-left .left-footer a {
    color: #605d5c;
}

.content-block-sol-left .left-footer a:hover {
    text-decoration: underline;
    color: #0093DD;
}

.content-block-sol-left .left-item-list {
    margin: 0 0 0 50px;
    padding: 0;
    list-style-type: none;
}

.content-block-sol-left .left-item-list li {
    float: left;
}

.content-block-sol-left .left-item-list a {
    display: table;
    height: auto;
    border: solid 0 #838381;
    width: 142px;
    height: 80px;
    padding: 10px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 10px;
    /*background: url('../images/bx-1.png') no-repeat;*/
    background: #969594;
    color: #fff;
    
    /*-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;*/
}

.content-block-sol-left .left-item-list a.active {
    /*background: url('../images/bx-2.png') no-repeat;*/
    background: #0093dd;
}

.content-block-sol-left .left-item-list span {
    display: table-cell;
    vertical-align: middle;
    line-height: 22px;
    font-size: 16px;
}

/**************************************************/

.content-block-prod-left {
    
}

.content-block-prod-left .left-header {
    margin: 20px 0 20px 50px;
    padding: 0;
    font-size: 26px;
    color: #fff;
}

.content-block-prod-left .left-item-list {
    margin: 0 0 0 50px;
    padding: 0;
    list-style-type: none;
}

.content-block-prod-left .left-item-list li {
    float: left;
}

.content-block-prod-left .left-item-list a {
    display: table;
    height: auto;
    border: solid 0 #838381;
    width: 150px;
    height: 75px;
    padding: 5px;
    text-align: center;
    margin-right: 25px;
    margin-bottom: 10px;
    background: url('../images/bx-3.png') no-repeat;
    color: #fff;
}

.content-block-prod-left .left-item-list a.active {
    background: url('../images/bx-4.png') no-repeat;
}

.content-block-prod-left .left-item-list span {
    display: table-cell;
    vertical-align: middle;
    line-height: 75px;
    line-height: normal;

    /*font-family: 'Segoe UI Light', 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Tahoma, Garuda, Arial, sans-serif;*/
}

/************************************************************/


.content-block-news-left .left-header {
    margin: 22px 0 22px 0px;
    margin-top: 125px;
    padding: 0;
    font-size: 42px;
    color: #fff;

    /*font-family: 'Segoe UI Light', 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Tahoma, Garuda, Arial, sans-serif;*/
}

.content-block-news-wrapper
{
    /*padding-right: 75px !important;*/
    height: 352px;
    overflow: hidden;
    position: relative;
    margin: 25px 0 15px 34px;
}

.content-block-news-wrapper ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 75px !important;
}

.content-block-news-wrapper li
{
    
}

.content-block-news-wrapper .go-to-news
{
    position: absolute;
    display: block;
    height: 75px;
    width: 75px;
    background: url('../images/arrow-right.png') no-repeat;
    /*top: 12px;*/
    right: 0;
    z-index: 1;
    top: 50%;
    margin-top: -25px;
}

.content-block-news-item
{
    padding: 5px;
    /*height: 70px;*/
    color: #fff;
}

.content-block-news-item h2
{
    font-size: 18px;
    margin: 10px 0 0 0;
    padding: 0;
    line-height: 30px;
}

.content-block-news-item span
{
    font-size: 16px;
}

.news-read-more {
    margin: 30px 0 25px 35px;
    font-size: 22px;
}

.news-read-more a {
    color: #1f1a17;
}

.our-client-more {
    margin: 30px 0 25px 50px;
    font-size: 22px;
}

.our-client-more a {
    color: #ffffff;
}

/********************************************************************/

.content-block-subs-left .left-header {
    margin: 22px 0 22px 50px;
    padding: 0;
    font-size: 26px;
    color: #fff;

    /*font-family: 'Segoe UI Light', 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Tahoma, Garuda, Arial, sans-serif;*/
}

.content-block-subs-wrapper
{
    padding-right: 75px !important;
    height: 75px;
    position: relative;
    padding-top: 18px;
}

.content-block-subs-wrapper .btn-subscribe
{
    position: absolute;
    display: block;
    height: 75px;
    width: 75px;
    background: url('../images/arrow-right.png') no-repeat;
    top: 12px;
    right: 0;
    border: 0;
}

/********************************************************************/

.content-block-client-left .left-header {
    margin: 22px 0 5px 50px;
    padding: 0;
    font-size: 26px;
    line-height: 36px;
    color: #fff;

    /*font-family: 'Segoe UI Light', 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Tahoma, Garuda, Arial, sans-serif;*/
}

.content-block-client-left .left-sub-header 
{
    margin: 0 0 5px 50px;
    font-size: 22px;
    color: #fff;
    line-height: 36px;

    /*font-family: 'Segoe UI Light', 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Tahoma, Garuda, Arial, sans-serif;*/
}

.content-block-client-left p
{
    margin: 0 0 5px 50px;
    color: #fff;
    line-height: 24px;
}

.content-block-client-wrapper
{
    height: 320px;
    position: relative;
    padding-top: 18px;
}

.client-slider-wrapper
{
    width: 470px;
    margin: 0 auto;
    position: relative;
}

.client-slide-list
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.client-slide-list li
{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

#clients-thumbs {
	width: 375px;
}
#clients-thumbs img {
	        
	margin-right: 10px;
    margin-bottom: 10px;
}
#clients-thumbs img.selected, #clients-thumbs img:hover {
	        
}
 
#clients-thumbs div {
	width: 470px;
	height: 350px;
	float: left;
}
#client-prev a, #client-next a {
	text-decoration: none;
	position: absolute;
	display: block;
	height: 40px;
	width: 40px;
}
        
#client-prev a.disabled {
	/*background: url('../images/prev-small-disable.png') no-repeat;*/
}
        
#client-next a.disabled {
	/*background: url('../images/next-small-disable.png') no-repeat;*/
}
        
#client-prev a {
	top: 50%;
	margin-top: -25px;
	left: -50px;
	background: url('../images/prev-small.png') no-repeat;
    z-index: 1;
}
#client-next a {
	top: 50%;
	margin-top: -25px;
	right: -50px;
	background: url('../images/next-small.png') no-repeat;
    z-index: 1;
}

/******************************************************************/

.content-block-map-left .left-header {
    /*margin: 130px 0 5px 50px;*/
    margin: 30px 0 5px 50px;
    padding: 0;
    font-size: 26px;
    color: #fff;
}

.content-block-map-wrapper
{
    height: 320px;
    position: relative;
    padding-top: 18px;
}

.map-right-item
{
    
}

.map-right-item h1
{
    margin: 0 0 16px 0;
    padding: 0;
    color: #fff;
    font-size: 20px;
}

.map-right-item h1 a
{
    color: #fff;
}

.map-right-item ul
{
    margin: 0;
    margin-top: 5px;
    padding: 0;
    list-style-type: none;
}

.map-right-item li
{
    margin-bottom: 10px;
    display: block;
    /*padding-left: 14px;
    background: url('../images/bullet-box.png') no-repeat;
    background-position: left 6px;*/
}

.map-right-item li a
{
    color: #fff;
}

/*.map-right-item li a:hover {
    text-decoration: underline;
}*/

/**********************************************************************/
.content-block-free-demo {
    margin-bottom: 20px;
}

.content-block-free-demo-left {
    text-align: right;
}

.content-block-free-demo-left img {
    height: 250px !important;
    width: 390px !important;
    margin: 20px 0 20px 50px;
}

.content-block-free-demo .header {
    /*font-family: 'Segoe UI Light', 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Tahoma, Garuda, Arial, sans-serif;*/
}

.content-block-free-demo .desc {
    font-size: 20px;
    padding-right: 20px;
}

.content-block-free-demo .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 15px;
}

/**********************************************************************/
.testmnl-small {

}

.testmnl-small-item {
    height: 280px;
    position: relative;
}

.testmnl-small-desc {
    height: 209px;
    overflow: auto;
}

.testmnl-small-desc p {
    color: #716F6E;
    line-height: 34px;
    font-size: 18px;
    margin-bottom: 20px;
}

.testmnl-small-info {
    background: #FFFFFF;
    padding: 5px;
    height: 70px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.testmnl-small-info img {
    float: left;
}

.testmnl-small-info h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 12px 0 0 110px;
}

.testmnl-small-info h2 {
    font-size: 14px;
    margin: 0 0 0 110px;
}
/**********************************************************************/

.footer-block-1 {
    padding-top: 18px;
    padding-bottom: 18px;
    background: #000 url('../images/f-img.png');
}

.footer-block-2 {
    background-color: #fefefe;
}

.content-block-sol-right {
    
}

.content-block-sol-right .active, .content-block-prod-right .active {
    display: block;
}

.right-item-details {
    display: none;
    margin-top: 34px;
    margin-right: 50px;
}

.item-def {
    display: block;
}

.content-block-prod-right .right-item-details 
{
    padding-right: 75px;
    position: relative;
}

.content-block-2 .content-block-sol-right .right-item-details 
{
    margin-left: 50px;
    margin-right: 0;
}

.content-block-2 .right-prod-header {
    margin-left: 50px;
}

.content-block-prod-right .right-item-details .arrow-image
{
    position: absolute;
    display: block;
    height: 75px;
    width: 75px;
    background: url('../images/arrow-right-1.png') no-repeat;
    top: 50%;
    right: 0;
    margin-top: -36px;
}

.right-item-details .right-item-header {
    font-size: 26px;
    color: #1f1a17;
}

.right-item-details .right-item-sub-header {
    font-size: 20px;
    color: #1f1a17;
    margin-bottom: 15px;
}

.right-item-details .right-item-details-part {
    font-size: 16px;
}

.right-item-details .right-item-details-part p {
    margin-bottom: 20px;
}

.footer-media-part {
    
}

.footer-media-part ul.social {
    list-style-type: none;
    margin: 15px 0 0 0;
    padding: 0;
    text-align: center;
}

.footer-media-part ul.social li {
    margin-right: 10px;
    margin-bottom: 10px;
}

.footer-media-part ul.social li a {
    font-size: 20px;
    display: block;
    height: 40px;
    width: 160px;
    overflow: hidden;
    margin-left: 0;
    text-align: left;
    color: #FFF;
    padding-left: 52px;
    padding-top: 5px;
    text-decoration: none;
}

/*.footer-media-part ul.social li a:hover {
    text-decoration: underline;
}*/

ul.social .linkedin a {
    background: url('../images/linkedin.png') no-repeat;
}

ul.social .blogger a {
    background: url('../images/blogger.png') no-repeat;
}

ul.social .twitter a {
    background: url('../images/twitter.png') no-repeat;
}

ul.social .facebook a {
    background: url('../images/facebook.png') no-repeat;
}

ul.social .go-social {
    font-size: 26px;
    font-weight: normal;
    line-height: 40px;
    color: #fff;
    text-align: left;
    margin-left: 0;
    display: block !important;
}

.footer-copy-part {
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-copy-part .copyright {
    margin: 0 0 0 50px;
    /*font-family: 'Segoe UI', HelveticaNeue, Helvetica, Tahoma, Garuda, Arial, sans-serif;*/
    font-size: 10px;
}

.footer-link-part {
    margin-right: 50px;
    padding: 3px;
}

.footer-link-part ul.sitemap {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

ul.sitemap li {
    display: inline;
}

ul.sitemap .sitemap-item a {
    padding: 5px;
    color: #373435;
    /*font-family: 'Segoe UI', HelveticaNeue, Helvetica, Tahoma, Garuda, Arial, sans-serif;*/
    font-size: 12px;
    font-weight: bold;
}

ul.sitemap .sitemap-item a:hover {
    text-decoration: underline;
}

.block-seperator-yellow
{
    height: 4px;
    background: #d7df36;
}

.block-seperator-gray
{
    height: 4px;
    background: #bdbfc1;
}

.block-seperator-blue
{
    height: 4px;
    background: #91d8f7;
}

#myTab
{
    /*position: absolute;
    top: -31px;
    left: 35px;
    z-index: 1;*/
    margin-top: 2px;
}

#myTab li a
{
    background: #fff url('../images/tab-2.png') repeat-x;
}

#myTab li.active a
{
    background: #fff url('../images/tab-1.png') repeat-x;
}

#myTab li a
{
    padding: 5px 15px !important;
    border: 0 !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 14px;
    /*font-weight: bold;*/
    color: #fff;
}

/*****************************************************************************/
.industry-prod-item-list {
    margin: 10px 0 0 50px;
    padding: 0;
    list-style-type: none;
}

.industry-prod-item-list li {
    float: left;
}

.industry-prod-item-list a {
    display: table;
    height: auto;
    border: solid 0 #838381;
    width: 150px;
    height: 75px;
    padding: 5px;
    text-align: center;
    margin-right: 25px;
    margin-bottom: 10px;
    /*background: url('../images/bx-3.png') no-repeat;*/
    background: #3b3b39;
    color: #fff;
}

.industry-prod-item-list a.active {
    background: url('../images/bx-4.png') no-repeat;
}

.industry-prod-item-list span {
    display: table-cell;
    vertical-align: middle;
    line-height: 75px;
    line-height: normal;
}
/*****************************************************************************/

.site-map-header 
{
    
}

.site-map-header .header
{
    margin-bottom: 20px;
}

.site-map-left-block
{
    
}

.site-map-right-block
{
    
}

.double-list
{
    float: left;
    margin-left: 10px;
}

.support-part
{
    padding-left:80px;
    height: 75px;
    padding-top: 25px;
}

.support-part span
{
    color: #50504e;
    font-weight: bold;
    font-size: 12px;
}

.support-wrapper .call
{
    background: url('../images/call.png') no-repeat;
}

.support-wrapper .chat
{
    background: url('../images/chat.png') no-repeat;
}

.support-wrapper .mail
{
    background: url('../images/mail.png') no-repeat;
}

.support-wrapper .register
{
    background: url('../images/register.png') no-repeat;
}

.login-form {
    border: solid 1px #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    float: none;
}

.login-form .header {
    font-size: 26px;
    margin: 0 0 10px 0;
    padding: 0;
}

.input-error {
    color: red;
}

.form-input-error {
    color: red;
    padding-top: 5px;
    display: block;
}


.reg-form {
    margin: 35px auto 0 auto;
    float: none;
}

.reg-form .header {
    font-size: 18px;
    margin: 0 0 10px 0;
    padding: 0;
}

.reg-form hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.required {
    color: #0093DD;
}

.form-horizontal .control-label {
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    color: #716F6E;
}

.form-horizontal .form-seperator
{
    background: url('../images/form-sep.png') repeat-x;
    background-position: left center;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    padding-left: 50px;
}

.form-horizontal .form-seperator span
{
    padding: 5px;
    border: solid 1px #c6c6c6;
    background: #f0f0f0;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.10);
    -ms-box-shadow: 0 1px 0 rgba(0,0,0,0.10);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.10);
    box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}

.product-desc
{
    color: #fff;
    font-size: 22px;
    padding-top: 18px;
    display: block;
}

.product-grid label
{
    font-weight: normal;
    padding-left: 5px;
}

.enq-product-list {
    margin: 5px 0 0 0;
    padding: 0 0 0 2px;
    list-style-type: none;
}

.enq-product-list li label {
    font-weight: normal;
    padding-left: 5px;
    color: #716F6E;
    font-size: 16px;
}

.site-map-address {
    color: #fff;
    margin-top: 20px;
}

.site-map-address h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.site-map-address h2 {
    margin: 10px 0 10px 0;
    padding: 0;
    font-size: 22px;
}

.site-map-address p {
    line-height: 24px;
}

.site-map-address a {
    color: #FFF;
}

.top-item-margin {
    margin-top: 24px;
}

.footer-sitemap {
    margin-top: 20px;
    color: #fff;
    font-size: 30px;
}

/***** TAB LEFT ******/
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}
/*********************/
/*****************************************************************************/

/* LARGE MONITOR */
@media (min-width: 992px) 
{
    #wrapper
    {
        /*padding-top: 134px;*/
    }
    
    .top-block
    {
        /*position: fixed;
        z-index: 100;*/
        top: 0;
    }

    .nav-seperator
    {
        color: #F0F0F0;
        display: block;
        line-height: 48px;
    }

    .cust-login-btn
    {
        margin: 5px 5px 10px 5px;
        height: 77px;
    }

    .footer-sitemap {
        margin-top: 140px;
    }

    .req-demo-wrapper {
        background: #fff url('/images/request-demo-xlg.png');
    }
}

/* MONITOR */
@media (min-width: 995px) and (max-width: 1180px)
{
    #wrapper {
        /*padding-top: 268px;*/
    }

    .submenu {
        /*margin-top: 134px;*/
        /*top: 268px;*/
        left: 0;
    }

    .cust-login-btn
    {
        margin: 5px 5px 10px 20px;
        height: auto;
    }

    .footer-sitemap {
        margin-top: 140px;
    }

    .req-demo-wrapper {
        background: #fff url('/images/request-demo-lg.png');
    }

    .last-stack-sep {
        margin-left: 0 !important;
    }

    .testmnl-small-item {
        height: 400px;
    }

    .testmnl-small-desc {
        height: 329px;
        overflow: auto;
    }
}

/* TABLET */
@media screen and (max-width: 985px) and (min-width : 768px) 
{
    .top-block-freedemo
    {
        /*background-image: url('../images/img-1-1.png');*/
        background-color:  #12708e;
    }
    
    .top-block-login
    {
        /*background-image: url('../images/img-2-1.png');*/
        background-color: #12aed9;
    }
    
    .navbar-nav li a
    {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
    
    .carousel-img-item {
        height: 250px;
        cursor: pointer;
    }

    .main-banner img {
        height: 250px;
    }

    .content-block-sol-left {
        display: none;
    }
    
    .content-block-prod-left {
        display: none;
    }

    .footer-media-part ul.social li {
        float: none;
        margin-right: 10px;
        display: inline-block;
        line-height: 50px;
    }

    .footer-copy-part .copyright {
        margin: 0 0 0 0;
        text-align: center;
    }

    .footer-link-part {
        margin-right: 0;
    }

    .footer-link-part ul.sitemap {
        text-align: center;
    }
    
    .right-item-details {
        display: block;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .right-prod-header {
        display: block;
    }

    .content-block-2 .right-prod-header {
        margin-left: 0;
        display: block;
    }

    .content-block-2 .content-block-sol-right .right-item-details {
        margin-left: 0;
        margin-right: 0;
    }

    .solution-main-header .left-header {
        margin: 25px 0 10px 0;
    }

    .content-block-subs-wrapper {
        padding-top: 0;
    }

    .content-block-map-left .left-header {
        margin-top: 10px;
    }

    .content-block-map-wrapper {
        height: auto;
    }

    .content-block-free-demo-left {
        text-align: center;
    }

    .footer-media-part ul.social {
        text-align: left;
        margin: 15px 0 0 0;
    }

    .footer-media-part ul.social li a {
        margin-left: 0;
        padding-top: 0;
    }

    .submenu {
        display: none !important;
    }

    .content-block-news-left .left-header {
        margin: 22px 0 22px 50px;
    }

    .req-demo-wrapper {
        background: #fff url('/images/request-demo-md.png');
    }

    .milestone-box {
        background: none;
    }

    .trade-small-box .trade-item {
        text-align: left;
        margin-top: 0;
    }

    .trade-small-box .trade-read {
        margin-top: 0;
    }

    .month-box-wrap {
        margin-bottom: 15px;
    }

    .stacked-l-item {
        padding-left: 0px;
    }

    .stacked-r-item {
        padding-left: 0px;
    }

    .testmnl-small-item {
        height: auto;
        margin-bottom: 25px;
    }

    .testmnl-small-desc {
        height: auto;
    }

    .testmnl-small-info {
        position: static;
    }
}

/* MOBILE */
@media screen and (max-width: 750px) 
{
    .main-logo {
        padding-left: 0px !important;
    }

    .top-block-freedemo
    {
        /*background-image: url('../images/img-1-1.png');*/
        background-color:   #12708e;
    }
    
    .top-block-login
    {
        /*background-image: url('../images/img-2-1.png');*/
        background-color: #12aed9;
    }
    
    .carousel-img-item {
        height: 200px;
        margin: 0 auto;
        cursor: pointer;
    }

    .main-banner img {
        margin: 0 auto;
        height: 200px;
    }

    .content-block-sol-left {
        display: none;
    }
    
    .content-block-prod-left {
        display: none;
    }
    
    .right-item-details {
        display: block;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .right-prod-header {
        display: block;
    }

    .content-block-2 .right-prod-header {
        margin-left: 0;
        display: block;
    }

    .content-block-2 .content-block-sol-right .right-item-details {
        margin-left: 0;
        margin-right: 0;
    }

    .solution-main-header .left-header {
        margin: 25px 0 10px 0;
    }

    .footer-media-part ul.social li {
        float: none;
        margin-right: 10px;
        display: inline-block;
        line-height: 50px;
    }

    .footer-media-part ul.social li.go-social {
        width: auto;
        margin-left: 0;
    }

    .footer-copy-part .copyright {
        margin: 0 0 0 0;
        text-align: center;
    }

    .footer-link-part {
        margin-right: 0;
    }

    .footer-link-part ul.sitemap {
        text-align: center;
    }

    .content-block-subs-wrapper {
        padding-top: 0;
    }

    /***/
    .client-slider-wrapper {
        width: 100%;
    }

    #clients-thumbs {
        width: 80%;
        margin-left: 10%;
    }

    #clients-thumbs img {
        float:left;
        margin-right: 2px;
        margin-bottom: 2px;
    }

    /***/

    .content-block-client-wrapper {
        height: auto !important;
    }

    .content-block-map-left .left-header {
        margin-top: 10px;
    }

    .content-block-map-wrapper {
        height: auto;
    }

    .form-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .form-group {
        margin-bottom: 5px;
    }
    
    .form-horizontal .form-seperator {
        text-align: center;
        padding-left: 0;
    }

    .footer-media-part ul.social {
        text-align: left;
        margin: 15px 0 0 0;
    }

    .footer-media-part ul.social li a {
        margin-left: 0;
        padding-top: 0;
    }

    .submenu {
        display: none !important;
    }

    .content-block-free-demo-left {
        text-align: center;
    }

    .content-block-free-demo-left img {
        height: 210px !important;
        width: 270px !important;
        margin: 20px 0 0 0;
    }

    .content-block-news-item span {
        
    }

    .content-block-news-left .left-header {
        margin: 22px 0 22px 0px;
    }

    .content-block-news-wrapper {
        margin: 25px 0 15px 0px;
    }

    .req-demo-wrapper {
        background: #fff url('/images/request-demo-xs.png');
    }

    .milestone-box {
        background: none;
        width: 100% !important;
        position: static !important;
    }

    .milestone-box .item {
        width: 100% !important;
    }

    .caroufredsel_wrapper {
        width: auto !important;
        margin-left: 0px !important;
    }

    .live-impex-box .pr-img {
        margin-left: auto;
        margin-right: auto;
    }

    .date-box-wrap {
        border-bottom: #CCC 1px dotted;
        margin-bottom: 12px;
    }

    .trade-small-box .trade-item {
        text-align: left;
        margin-top: 0;
    }

    .trade-small-box .trade-read {
        margin-top: 0;
    }

    .month-box-wrap {
        margin-bottom: 15px;
    }

    .content-block-news-wrapper {
        padding-right: 5px !important;
        height: 440px;
    }

    .content-block-news-item h2 {
        border-top: dotted 1px #AFAFAF;
    }

    .date-box-3 {
        margin-bottom: 0px;
    }

    .content-block-news-wrapper {
        height: auto;
    }

    .content-block-news-wrapper ul {
        padding-right: 0 !important;
    }

    .news-read-more {
        margin: 30px 0 25px 0;
    }

    .content-block-client-left .left-header {
        margin: 22px 0 5px 10px;
    }

    .content-block-client-left .left-sub-header {
        margin: 22px 0 5px 10px;
    }

    .content-block-client-left p {
        margin: 0 0 5px 10px;
    }

    .our-client-more {
        margin: 30px 0 25px 0;
    }

    .req-demo-left {
        padding-left: 10px !important;
    }

    .news-sub-left {
        padding-top: 0;
    }

    .news-sub-left .left-header {
        margin-left: 0 !important;
    }

    .news-sub-left .left-para {
        margin-left: 0 !important;
        margin-bottom: 0 !important;
    }

    .prod-upd-left {
        padding-top: 0;
    }

    .prod-upd-left .left-header {
        margin-left: 0 !important;
    }

    .prod-upd-left .left-para {
        margin-left: 0 !important;
        margin-bottom: 0 !important;
    }

    .stacked-wrapper {
        background: none;
        padding-bottom: 20px;
        position: relative;
    }

    .stacked-wrapper .col-lg-2 {
        position: absolute;
        background: url('../images/stack-sep.png') center repeat-x;
        height: 45px;
    }

    .first-stack-sep {
        padding-top: 0;
    }

    .last-stack-sep {
        padding-top: 0;
        background: none;
        margin-left: 0;
    }

    .stacked-l-item {
        padding-left: 0;
        margin-top: 50px;
    }

    .stacked-r-item {
        padding-left: 0;
        margin-top: 50px;
    }

    .stacked-dot {
        position: absolute;
        top: 0px;
        margin-left: -22px;
        left: 50%;
    }

    .content-block-left-bottom {
        padding-left: 0;
    }

    .content-block-right-bottom .left-item-list {
        margin-left: 10px;
    }

    .our-client-wrapper div {
        padding: 0 0 0  5px;
        text-align: center;
    }

    .testmnl-small-item {
        height: auto;
        margin-bottom: 25px;
    }

    .testmnl-small-desc {
        height: auto;
    }

    .testmnl-small-info {
        position: static;
        text-align: center;
        height: auto;
    }

    .testmnl-small-info img {
        float: none;
    }

    .testmnl-small-info h1, .testmnl-small-info h2 {
        margin: 5px 0 0 0;
    }
}

/* MOBILE */
@media screen and (max-width: 265px) {
    .content-block-client-right {
        padding-left: 0;
        padding-right: 0;
    }

    #clients-thumbs {
        width: 95%;
        margin-left: 2%;
    }
}